    /* Font Page */
    
    * {
        font-family: 'Raleway', sans-serif;
    }
    /* Header */
    
    header {
        margin: 0%;
    }
    
    header nav {
        margin: 0px 12% 17px 12%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    header nav ul {
        list-style: none;
        display: flex;
        align-items: center;
        font-weight: 500;
    }
    
    header nav ul li {
        margin: 0px 0px 10px 20px;
        cursor: pointer;
        padding: 20px 20px 20px 20px;
    }
    
    #sign {
        color: #0065FC;
        font-weight: bold;
    }
    
    header nav ul li:hover {
        color: #0065FC
    }
    /* Main Section Rechercher */
    
    #recherche {
        padding: 0px 12% 17px 12%;
    }
    
    .title {
        font-size: 2em;
        font-weight: 700;
        margin: 0 0 0 0;
    }
    
    .search {
        display: flex;
        flex-direction: row;
    }
    
    .search #map {
        width: 18px;
        height: 15px;
        background-color: #F2F2F2;
        padding: 1.2em 1.2em 1.2em 1.2em;
        border-radius: 0.8em 0 0 0.8em;
        border: 1px solid #F2F2F2;
    }
    
    #marecherche {
        padding: 1em 1em 1em 1em;
        font-size: 16px;
        font-weight: 500;
        border: 1px solid #F2F2F2;
        margin: 0%;
    }
    
    #button {
        padding: 1em 1em 1em 1em;
        font-size: 16px;
        font-weight: 700;
        border: none;
        background-color: #0065FC;
        color: white;
        border-radius: 0 0.8em 0.8em 0;
        cursor: pointer;
        transition-duration: 1s;
    }
    
    #button:hover {
        background-color: #ffffff;
        color: #0065FC;
    }
    /* Section Filters */
    
    .filters {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0px 12% 17px 12%;
        color: black;
    }
    
    .filterstitle {
        font-weight: 700;
    }
    
    .buttons {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-right: 1.2em;
        margin-left: 1.2em;
        cursor: pointer;
    }
    
    .buttonfilter {
        background-color: white;
        /* margin: 1em 1em 1em 0 ; */
        cursor: pointer;
        font-weight: bold;
        padding: 0px 20px 0px 0px;
        border: 3px solid #F2F2F2;
        border-radius: 5em 5em 5em 5em;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        border-left: none;
        margin-right: 1.2em;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        transition-duration: 250ms;
        font-size: 20px;
    }
    
    .buttonfilter:hover {
        background-color: #DEEBFF;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    
    #iconefilter {
        color: #0065FC;
        background-color: #DEEBFF;
        /* margin: 10px 55px 10px 0 ; */
        /* padding: 20px 20px 20px 20px; */
        border-radius: 100%;
        width: 3.2rem;
        height: 3.2rem;
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
    }
    
    #iconefilter1 {
        color: #0065FC;
        background-color: #DEEBFF;
        /* margin: 10px 55px 10px 0 ; */
        /* padding: 20px 20px 20px 20px; */
        border-radius: 100%;
        width: 3.2rem;
        height: 3.2rem;
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
    }
    
    #iconefilter2 {
        color: #0065FC;
        background-color: #DEEBFF;
        /* margin: 10px 55px 10px 0 ; */
        /* padding: 20px 20px 20px 20px; */
        border-radius: 100%;
        width: 3.2rem;
        height: 3.2rem;
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
    }
    
    #iconefilter3 {
        color: #0065FC;
        background-color: #DEEBFF;
        /* margin: 10px 55px 10px 0 ; */
        /* padding: 20px 20px 20px 20px; */
        border-radius: 100%;
        width: 3.2rem;
        height: 3.2rem;
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1em;
    }
    
    .info {
        padding: 0px 12% 17px 12%;
        display: flex;
        flex-direction: row;
    }
    
    .p1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #iconeinfo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #0065FC;
        border: 2px solid #F2F2F2;
        margin: 10px 10px 10px 0;
        border-radius: 5em 5em 5em 5em;
        width: 1.8rem;
        height: 1.8rem;
    }
    /* Section Hébergement/ */
    
    .host-pop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .host {
        background-color: #f2f2f2;
        margin: 10px 0 12px 12%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 45%;
        border-radius: 1.2em 1.2em 1.2em 1.2em;
        justify-content: space-between;
    }
    
    .host-title {
        height: 3%;
        margin-left:1em ;
    }
    
    .container {
        /* padding: 5px 7% 5px 7%; */
        background-color: #f2f2f2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0 0.5em 0 0.5em;
    
    }
    
    .hosting-card {
        opacity: 1;
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 25px;
        /* margin-bottom: 2em; */
        padding: 7px;
        color: black;
        font-size: 16px;
        width: 28%;
        height: 40%;
        text-align: center;
        justify-content: center;
        align-items: center;
        box-shadow: 1.5px 1.5px rgb(216, 202, 202), 1.5px 1.5px rgb(216, 202, 202);
        transform: scale(1);
        transition: .1s ease-in-out;
    }
    
    .hosting-card:hover {
        /* opacity: 0.7; */
        transform: scale(1.02);
    }
    
    .host-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 7em;
        margin-bottom: 0;
        object-fit: cover;
    }
    
    .host-description {
        display: flex;
        flex-direction: column;
        text-align: justify;
        font-size: large;
        margin: 0;
        padding-left: 0.3em;
        padding-top: 0.3em;
        line-height: 1.5em;
    }
    
    .container a {
        text-decoration: none;
    }
    
    .plus {
        text-decoration: none;
        padding: 0em 2em 0 2em;
        font-weight: 700;
        color: black;
    }
    
    .host-description p {
        margin: 0;
    }
    /*  Stars */
    
    .stars-host {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        color: #0065FC;
        margin-top: 0.3em;
        margin-bottom: 0.5em;
    }
    
    .fa-star {
        padding-right: 0.3em;
    }
    
    .gray-stars {
        color: #F2F2F2;
        padding-right: 0.3em;
    }
    
    
    /* Les plus populaire */
    
    .popular {
        background-color: #f2f2f2;
        margin: 10px 12% 10px 0;
        display: flex;
        flex-direction: row;
        order: 2;
        flex-wrap: wrap;
        width: 27%;
        border-radius: 1.2em 1.2em 1.2em 1.2em;
        justify-content: center;
    }
    
    .pop-title {
      
        margin-right: auto;
        margin-left: 1em ;
    }
    
    .pop-container {
        background-color: #f2f2f2;
        display: flex ;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .pop-card {
        display: flex;
        flex-direction: row;
        opacity: 1;
        cursor: pointer;
        background-color: #ffffff;
        border-radius: 25px;
        padding: 7px;
        color: black;
        font-size: 16px;
        width: 90%;
        height: 20%;
        text-align: center;
        justify-content: center;
        align-items: center;
        box-shadow: 1.5px 1.5px rgb(216, 202, 202), 1.5px 1.5px rgb(216, 202, 202);
        transform: scale(1);
        transition: .1s ease-in-out;
        text-decoration: none;

    }
    
    .pop-card:hover {
        /* opacity: 0.7; */
        transform: scale(1.02);
    }
    
    .pop-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        border-radius: 20px 0 0 20px;
        width: 30%;
        height: 100%;
        margin-bottom: 0;
        object-fit: cover;
    }
    
    .pop-description {
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: start;
        font-size: large;
        align-items: stretch;
        margin: 0;
        padding-left: 0.3em;
        padding-top: 0.3em;
        width: 70%;
        height: 100%;

    }
    
    .container a {
        text-decoration: none;
    }
    
    .pop-description p {
        margin-top: 0;
    }


    /*  Stars */
    
    .stars-pop {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: str;
        color: #0065FC;
        margin-top: auto;
        padding-bottom: 0.5em;
        padding-left: 0.3em;
    }
    
    .fa-star {
        padding-right: 0.3em;
    }
    
    .gray-stars {
        color: #F2F2F2;
        padding-right: 0.3em;
    }
    
    .price{
        display: flex;
        flex-direction: column;
        align-items: start;
       
    }

    .price p{
        padding-left: 0.5em;
        margin-top:0 ;
        margin-bottom: 0;
    }