/* Font Page */

* {
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

/* Header */

header {
  margin: 0px 12% 17px 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

header nav {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  cursor: pointer;
  margin-left: auto;
  box-sizing: border-box;
}

header nav .nav-menu {
  padding: 30px;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

.nav-menu:hover {
  border-top: 3px solid #0065fc;
  box-sizing: border-box;
  color: #0065fc;
}

#sign {
  color: #0065fc;
  font-weight: bold;
  padding: 30px;
  text-decoration: none;
  border-top: 3px solid white;
}

/* Main - Section Rechercher */

#recherche {
  padding: 0px 12% 17px 12%;
  box-sizing: border-box;
}

.title {
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 0 0;
}

.search {
  display: flex;
  flex-direction: row;
}

#map {
  width: 1.2em;
  height: 15px;
  background-color: #f2f2f2;
  padding: 1.2em;
  border-radius: 0.8em 0 0 0.8em;
  border: 1px solid #f2f2f2;
  transform: scale(1);
  transition: 0.1s ease-in-out;
}

#map:hover {
  transform: scale(1.02);
}

#marecherche {
  padding: 1em;
  font-size: 1em;
  font-weight: 600;
  border: 1px solid #f2f2f2;
  margin: 0%;
}

span.icon {
  display: none;
}
span.text {
  display: inline-block;
}

::placeholder {
  color: black;
  /* Pour firefox */
  opacity: 1;
}

#button {
  padding: 1em;
  font-size: 1em;
  font-weight: 700;
  border: none;
  background-color: #0065fc;
  color: white;
  border-radius: 0 0.8em 0.8em 0;
  cursor: pointer;
  transition-duration: 0.5s;
}

#button:hover {
  background-color: #ffffff;
  color: #0065fc;
}
/* Section Filters */

.filters {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px 12% 17px 12%;
  color: black;
}

.filterstitle {
  font-weight: 700;
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 1em;
  margin-left: 1.2em;
  cursor: pointer;
  row-gap: 0.5em;
}

.buttonfilter {
  background-color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 0px 20px 0px 0px;
  border: 3px solid #f2f2f2;
  border-radius: 5em 5em 5em 5em;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  border-left: none;
  margin-right: 1.2em;
  transform: scale(1);
  transition: 0.3s ease-in-out;
  transition-duration: 250ms;
  font-size: 18px;
}

.buttonfilter:hover {
  background-color: #deebff;
  transform: scale(1.05);
}

#iconefilter {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

#iconefilter1 {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

#iconefilter2 {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

#iconefilter3 {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
}

.info {
  padding: 0px 12% 17px 12%;
  display: flex;
  flex-direction: row;
  font-weight: 500;
}

.p1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#iconeinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  margin: 0.5em 10px 0 0;
  border-radius: 100%;
  width: 1.8rem;
  height: 1.8rem;
}

/* Section Hébergements */

.host-pop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.host {
  background-color: #f2f2f2;
  margin: 10px 0 12px 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 48%;
  border-radius: 1.2em 1.2em 1.2em 1.2em;
  justify-content: space-between;
}

.host-title {
  align-items: center;
  align-self: center;
  margin-left: 1em;
  padding-top: 1em;
  margin-bottom: 0;
}

.container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em 0.5em 1em 0.5em;
}

.hosting-card {
  opacity: 1;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 7px;
  color: black;
  font-size: 16px;
  width: 28%;
  height: 40%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1);
  transition: 0.1s ease-in-out;
  margin: 0.8em;
}

.hosting-card:hover {
  transform: scale(1.02);
}

.host-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 7em;
  margin-bottom: 0;
  object-fit: cover;
}

.host-description {
  display: flex;
  flex-direction: column;
  text-align: justify;
  font-size: 1em;
  margin: 0;
  padding-left: 0.3em;
  padding-top: 0.3em;
  line-height: 1.5em;
  margin-left: 0.3em;
}

.container a {
  text-decoration: none;
}

.plus {
  text-decoration: none;
  padding: 0 2em 0 2em;
  font-weight: 700;
  font-size: 18px;
  color: black;
  margin-bottom: 1.5em;
  transition: 0.1s ease-in-out;
}

.plus:hover {
  transform: scale(1.05);
}

.host-description p {
  margin: 0;
}
/*  Stars */

.stars-host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  color: #0065fc;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.fa-star {
  padding-right: 0.3em;
}

.gray-stars {
  color: #f2f2f2;
  padding-right: 0.3em;
}

/* Les plus populaire */

.popular {
  background-color: #f2f2f2;
  margin: 10px 12% 10px 0;
  display: flex;
  flex-direction: column;
  order: 2;
  flex-wrap: wrap;
  width: 25%;
  border-radius: 1.2em 1.2em 1.2em 1.2em;
}

.pop-title-grp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93%;
}

.pop-title {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: 1em;
  align-items: center;
  align-self: center;
  padding-top: 1em;
  margin-bottom: 1.3em;
}

.fa-chart-line {
  display: flex;
  flex-direction: row;
  padding-top: 0.5em;
  font-size: 1.5em;
}

.pop-container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 70%;
}

.pop-card {
  display: flex;
  flex-direction: row;
  opacity: 1;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 7px;
  color: black;
  font-size: 16px;
  width: 85%;
  height: 28%;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1);
  transition: 0.1s ease-in-out;
  text-decoration: none;
}

.pop-card:hover {
  transform: scale(1.02);
}

.pop-img {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  border-radius: 20px 0 0 20px;
  width: 30%;
  height: 100%;
  margin-bottom: 0;
  object-fit: cover;
}

#pop-img3 {
  width: 31%;
}

.pop-description {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: start;
  font-size: large;
  align-items: stretch;
  margin: 0;
  padding-left: 0.3em;
  padding-top: 0.3em;
  width: 70%;
  height: 100%;
}

.container a {
  text-decoration: none;
}

.pop-description p {
  margin-top: 0;
}

/*  Stars */

.stars-pop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #0065fc;
  margin-top: auto;
  padding-bottom: 0.5em;
  padding-left: 0.3em;
}

.fa-star {
  padding-right: 0.3em;
}

.gray-stars {
  color: #f2f2f2;
  padding-right: 0.3em;
}

.price {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.price p {
  padding-left: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}

/*  Section Activités */

.activities {
  margin: 10px 12% 12px 12%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1.2em 1.2em 1.2em 1.2em;
  margin-bottom: 3em;
}

.title-activity {
  margin: 0.2em;
  margin-bottom: 1em;
}

.activity-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "a1 a2 a4 a5"
    "a1 a2 a4 a6"
    "a1 a3 a4 a6";
  gap: 2em;
  grid-row-gap: 25px;
}

/* Grandes Photos1 */

.activity-card1 {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 25px;
  color: black;
  font-size: 16px;
  width: 100%;
  height: 33em;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1);
  transition: 0.1s ease-in-out;
  text-decoration: none;
}

.activity-card1:hover {
  transform: scale(1.02);
}

.activity-img1 {
  align-content: center;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
}

.activity-description1 {
  display: flex;
  flex-direction: row;
  text-align: justify;
  justify-content: start;
  font-size: large;
  width: 100%;
  /* height: 100%; */
  font-weight: bold;
  margin-left: 1em;
}

/* Petites Photos2 */

.activity-card2 {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 25px;
  color: black;
  font-size: 16px;
  width: 100%;
  height: 17em;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1);
  transition: 0.1s ease-in-out;
  text-decoration: none;
}

.activity-card2:hover {
  transform: scale(1.02);
}

.activity-img2 {
  align-content: center;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.activity-description2 {
  display: flex;
  flex-direction: row;
  text-align: justify;
  justify-content: start;
  align-items: center;
  font-size: large;
  width: 70%;
  /* height: 100%; */
  font-weight: bold;
  margin-left: 1em;
}

/* Petites Photos3 */

.activity-card3 {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 25px;
  color: black;
  font-size: 16px;
  width: 100%;
  height: 13em;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1);
  transition: 0.1s ease-in-out;
  margin-top: 0;
  text-decoration: none;
}

.activity-card3:hover {
  transform: scale(1.02);
}

.activity-img3 {
  align-content: center;
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 74%;
  object-fit: cover;
}

.activity-description3 {
  display: flex;
  flex-direction: row;
  /* text-align: justify; */
  justify-content: start;
  align-items: center;
  font-size: large;
  width: 100%;
  /* height: 100%; */
  font-weight: bold;
  margin-left: 1em;
}

/* Order id */

#i1 {
  grid-area: a1;
}
#i2 {
  grid-area: a2;
}
#i3 {
  grid-area: a3;
}
#i4 {
  grid-area: a4;
}
#i5 {
  grid-area: a5;
}
#i6 {
  grid-area: a6;
}

/* Section Footer */

.footer {
  background-color: #f2f2f2;
  width: 100%;
  height: 15em;
  justify-content: center;
  align-items: center;
}

.box-footers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-left: 12%;
}

.block-footer h3 {
  align-items: center;
}

.link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0.5em;
  padding-left: 0;
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}


  /*  Version TABLETTE */

@media all and (max-width: 1000px) {
  html,
  body {
    overflow-x: hidden;
  }

    /*  Section header TABLETTE */

    header {
    margin: 1em 0 17px 1em;
  
  }
  
  /*  Section Recherche TABLETTE */

  #recherche {
    margin: 1em 0 0 1em;
  }
  
  .title {
    margin-left: -2em;
  }

  #recherche p {
    margin-left: -3.5em;
  }

  .search {
    margin-left: -4em;
  }

  /*  Section Filtres TABLETTE */

  .filters {
    margin-left: -4em;
  }

  .filterstitle {
    margin-left: 1em;
  }

  .info {
    margin-left: -2.2em;
  }

  /* Section Hostpop TABLETTE  */

  .host-pop {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 90%;
    margin-left: 2.5em;
  }

   /*  Section Populaires TABLETTE */

   .popular {
    flex-wrap: wrap;
    width: 100%;
    border-radius: 0;
    padding-bottom: 2em;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
  }

  .pop-container {
    width: 100%;
    height: 100%;
    row-gap: 1em;
  }

  .pop-card {
    width: 90%;
    height: 10em;
  }

  .pop-title {
    margin-left: 1em;
    margin-top: 0.3em;
    width: 80%;
  }

  .fa-chart-line {
    margin-right: 1em;
    font-size: 1.4em;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .pop-img {
    width: 40%;
    height: 100%;
  }

  /* Sextion Hébergements TABLETTE */


  .host {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #f2f2f2;
  }

  .host-title {
    margin: 0;
    margin-right: 1.8em;
    margin-bottom: 0.8em;
  }

  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* max-height: 55em; */
    padding: 0;
    background-color: #f2f2f2;
  }

  .hosting-card {
    margin-left: 1.3em;
    width: 40%;
    height: 12em;
  }

  .host-img {
    width: 100%;
    height: 7em;
  }

  .plus {
    margin-top: 1em;
  }

 /* Section Activités TABLETTE */

 .activities {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 2em 0;
  align-items: center;
  justify-content: center;
  
}

.title-activity {
  padding-top: 0.6em;
  margin-right: auto;
  margin-left: 1.9em;
}

.activity-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0;
}

.activity-description1,
.activity-description2,
.activity-description3 {
  margin: 0.7em;
  font-size: 0.85em ;
  text-align: inherit;
}

.activity-card1,
.activity-card2,
.activity-card3 {
  /* margin-left: 1.3em; */
  width: 35%;
  height: 12em;
}

#i1,
#i2,
#i3,
#i4,
#i5,
#i6 {
  height: 11em;
  width: 30%;
}

.activity-img1,
.activity-img2,
.activity-img3 {
  height: 75%;
}

/*  Section Footer TABLETTE  */


.box-footers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 1em 0 3em 0;
}

.block-footer {
  width: 100%;
  margin-left: 3.5em;
}

}


  /* ------ Version MOBILE ------ */

@media all and (max-width: 640px) {
  html,
  body {
    overflow-x: hidden;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
    width: 100%;
    padding: 0;
    position: absolute;
    box-sizing: border-box;
  }

  /*  Header MOBILE */


  .nav-menu {
    width: 50%;
    text-align: center;
    border-bottom: 3px solid #f2f2f2;
    border-top: none;
    padding: 1em;
  }

  .nav-menu:hover {
    border-top: none;
    border-bottom: 3px solid #0065fc;
    box-sizing: border-box;
    color: #0065fc;
  }

  header nav .nav-menu {
    padding: 17px;
  }
  .logo {
    order: 1;
    margin: 0 auto 0 1em;
  }

  .logo img {
    width: 100%;
  }

  nav {
    order: 3;
    width: 100%;
    margin: 0;
  }

  #sign {
    order: 2;
    padding: 0;
    width: 50%;
    margin-right: 1em;
    text-align: end;
  }

  /*  MAIN MOBILE */

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }

  /*  Section Recherche MOBILE */

  #recherche {
    padding: 0;
    margin: 0;
  }

  /* Section filtres MOBILE */

  .filters {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin-left: 1em;
    padding: 0;
    width: 95%;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5em;
    margin: 0;
  }

  .search {
    margin-left: 1.5em;
  }

  #marecherche {
    border-radius: 0;
    font-size: 1em;
    padding: 0.8em;
  }

  #button {
    font-size: 1em;
    padding: 0.8em 1.2em;
    border-radius: 1em;
  }

  .title {
    font-size: 1.5em;
    margin-left: 1em;
  }

  #recherche p {
    margin-left: 1.7em;
  }

  span.icon {
    display: inline-block;
  }
  span.text {
    display: none;
  }

  .filterstitle {
    width: 80%;
    margin-left: 0.3em;
    box-sizing: border-box;
  }

  .buttonfilter {
    font-size: 16px;
    margin-right: 1em;
    margin-left: 0;
    padding-right: 1em;
  }

  .buttons {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }


  #iconefilter,
  #iconefilter1,
  #iconefilter2,
  #iconefilter3 {
    margin-right: 0.5em;
  }

  /*  Host&Pop MOBILE */

  .host-pop {
    flex-direction: column-reverse;
    justify-content: space-between;
    width: 100%;
    margin-left: inherit;
  }

  /*  Section Populaires MOBILE */

  .popular {
    flex-wrap: wrap;
    width: 100%;
    border-radius: 0;
    padding-bottom: 2em;
    justify-content: center;
    align-items: center;
  }

  .pop-container {
    width: 100%;
    height: 100%;
    row-gap: 1em;
  }

  .pop-card {
    width: 85%;
    height: 10em;
  }

  .pop-title {
    margin-left: 0.2em;
    margin-top: 0.3em;
    width: 80%;
  }

  .fa-chart-line {
    margin-left: 3em;
    font-size: 1.4em;
    justify-content: center;
    align-items: center;
    padding-top: 0;
  }

  .pop-img {
    width: 40%;
    height: 100%;
  }

  #pop-img3 {
    width: 48%;
  }

  .info {
    width: 100%;
    font-weight: 500;
    padding: 0.8em;
    align-items: center;
  }

  .p1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #iconeinfo {
    align-items: center;
    color: #0065fc;
    border: 2px solid #f2f2f2;
    margin: 0 10px 0 0;
    border-radius: 100%;
    width: 1.8rem;
    height: 1.8rem;
  }

  /*  Section Hébergements MOBILE */

  .host {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #ffffff;
  }

  .host-title {
    margin: 0;
    margin-right: 1.8em;
    margin-bottom: 0.8em;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    background-color: #ffffff;
    max-height: inherit;
  }

  .hosting-card {
    width: 85%;
    height: 12em;
    margin-left: inherit;
    margin-right: 0;
  }

  .host-img {
    width: 100%;
    height: 7em;
  }

  .plus {
    margin-top: 1em;
  }

  /*  Section Activités MOBILE */

  .activities {
    margin: 0 0 3em 0;
    justify-content: center;
    align-items: center;
  }

  .title-activity {
    padding-top: 0.6em;
    margin-right: auto;
    margin-left: 0.7em;
  }

  .activity-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6";
    gap: 2em;
    grid-row-gap: 25px;
    justify-content: center;
    align-items: center;
    width: 90%;
  }

  .activity-description1,
  .activity-description2,
  .activity-description3 {
    margin: 0.7em;
  }

  .activity-card1,
  .activity-card2,
  .activity-card3 {
    justify-content: center;
    align-items: center;
  }

  #i1,
  #i2,
  #i3,
  #i4,
  #i5,
  #i6 {
    height: 11em;
    width: 100%;
  }

  .activity-img1,
  .activity-img2,
  .activity-img3 {
    height: 70%;
  }

  /* Section footer MOBILE */

  .footer {
    height: auto;
    width: 100%;
  }

  .box-footers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 1em 0 3em 0;
  }

  .block-footer {
    width: 100%;
    margin-left: 3.5em;
  }
}